 <!-- Header-->
 <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <div id="mobile-menu">
                <div class="left-nav-toggle">
                    <a href="#">
                        <i class="stroke-hamburgermenu"></i>
                    </a>
                </div>
            </div>
            <a class="navbar-brand" href="index-2.html">
                Cinema
                <span></span>
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <div class="left-nav-toggle">
                <a href="#">
                    <i class="stroke-hamburgermenu"></i>
                </a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class=" profil-link">
                    <a routerLink="/">
                        <span class="profile-address">{{ nombre }}</span>
                        <img src="assets/images/profile.jpg" class="img-circle" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- End header-->

<!-- Navigation-->
<aside class="navigation">
    <nav>
        <ul class="nav luna-nav">
            <li class="nav-category">
                Usuario
            </li>
            <li>
                <a href="/">Login</a>
            </li>

            <li class="active">
                <a href="#monitoring" data-toggle="collapse" aria-expanded="false">
                        Cine<span class="sub-nav-icon"> <i class="stroke-arrow"></i> </span>
                </a>
                <ul id="monitoring" class="nav nav-second collapse in">
                    <li class="active"><a href="metrics.html"> Nombre</a></li>
                    <li><a href="usage.html"> Calle</a></li>
                    <li><a href="activity.html"> Telefono</a></li>
                </ul>
            </li>
            <li class="nav-info">
                <i class="pe pe-7s-shield text-accent"></i>
                <div class="m-t-xs">
                    <span class="c-white">Cinema Life </span> 
                    El lugar donde podras encontrar las Peliculas de estreno.
                </div>
            </li>
        </ul>
    </nav>
</aside>
<!-- End navigation-->
